<div class="calcContent">

  <div class="myCalc">
    <input type="text" name="" id="">
    <div class="allBtn">
      <div class="numbers">
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>0</button>
        <div class="decimalandback">
          <button >.</button>
          <button >back</button>
        </div>
      </div>

      <div class="symbols">
        <button>+</button>
        <button>-</button>
        <button>*</button>
        <button>/</button>
      </div>

    </div>
    <div class="btnClearAndEqual">
      <button >C</button>
      <button >=</button>
    </div>
  </div>
</div>