<div class="calcContent">

  <div class="myCalc">
    <input [(ngModel)]="value"  type="text" name="" id="">
    <div class="allBtn">
      <div class="numbers">
        <button (click)="writeToInput('1')">1</button>
        <button (click)="writeToInput('2')">2</button>
        <button (click)="writeToInput('3')">3</button>
        <button (click)="writeToInput('4')">4</button>
        <button (click)="writeToInput('5')">5</button>
        <button (click)="writeToInput('6')">6</button>
        <button (click)="writeToInput('7')">7</button>
        <button (click)="writeToInput('8')">8</button>
        <button (click)="writeToInput('9')">9</button>
        <button (click)="writeToInput('0')">0</button>
        <div class="decimalandback">
          <button (click)="writeToInput('.')"  >.</button>
          <button (click)="back()" >back</button>
        </div>
      </div>

      <div class="symbols">
        <button (click)="writeToInput('+')">+</button>
        <button (click)="writeToInput('-')">-</button>
        <button (click)="writeToInput('*')">*</button>
        <button (click)="writeToInput('/')">/</button>
      </div>

    </div>
    <div class="btnClearAndEqual">
      <button (click)="clearInput()">C</button>
      <button (click)="evaluateExp()">=</button>
    </div>
  </div>
</div>